html{
    height: 100%;
    margin:0;
    padding:0;
}

body {
    background-image: url(../../assets/Images/email-pattern.png);
    height: 100%;
    margin:0;
    padding:0;
    

}
 
}
h1{
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
}



h2{
   color: #4aaaa5;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
background-color: #ffffff;
background-size:cover;
background-position: center;

}

.logo {
    background: #4aaaa5;
    height: 35px;
    width: 240px;
    color: #ffffff;


}

.nav{
    
    position: fixed;
    width: 100%;
    line-height: 60px;
  

}

nav ul{
    float: right;
    margin:0;
    padding:0;
    padding-right: 42px;    
}

nav ul li{
    display: inline-block;
    padding: 16px;
}

p{
    color: #777777;
    display:inline;
}
wrapper{
    position: relative;
}

footer {
    background: #666666;
    height: 40px;
    width:100%;
    position: absolute;
    left:0px;
    bottom:0px;
    
}
footer p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 0px 0px 0px;
    color: #ffffff;
}